[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
black = "*"
django-import-export = "*"
django-livereload-server = "*"

[dev-packages]

[requires]
python_version = "3.9"
